$border-color: #aeaeae;
$background-color: #f0f0f0;
$selected-color: #000;
$highlighted-color: #3dcc4a;
$muted-color: #ccc;
$text-color: #000;
$today-color: #039be5;

$font-size: 16px;
$border-radius: .3em;
$item-size: 2em;
$day-margin: .166em;
$triangle-size: 8px;
$datepicker__margin: .4em;
$navigation-size: .45em;
